{{!-- <div class="wrapper">
    <div class="container">
        <header class="header">
            <div class="header-main">
                <a href="/">
                    <div class="header-left">
                        <ion-icon class="primary header-logo" name="diamond-sharp"></ion-icon>
                        <p class="header-title primary">Mintify</p>
                    </div>
                </a>
                <div class="heade-dashboard">
                    <button class="header-item ">Dashboard</button>
                    <button class="header-item   ">About Us</button>
                    <button class="header-item">FAQ</button>
                </div>
                <div class="header-container">
                    <input type="text" class="header-input" placeholder="Search out">
                    <ion-icon class="header-search" name="search-outline"></ion-icon>
                    {{!-- <span class="header-holder">Search artwork</span> --}}
                </div>
                {{!-- <div class="header-right">
                    <a href="/courses/create">
                        <ion-icon class="header-icon" name="add-circle-outline"></ion-icon>
                    </a>
                    <a href="/me/stored/courses">
                        <ion-icon class="header-icon" name="clipboard-outline"></ion-icon>
                    </a>
                    <ion-icon class="header-icon" name="bag-remove-outline"></ion-icon>
                </div> --}}
                {{!-- <div class="header-user">
                    <ion-icon class="header-avatar" name="person-circle-outline"></ion-icon>
                    <span class="header-name">Leslie Alexander</span>
                </div> --}}
            </div>
        </header>
    </div>
</div> --}}
<div class="wrapper">
    <div class="container">
        <header class="header">
            <a href="/">
                <h1 class="header-header">Freebie Market</h1>
            </a>
            <div class="header-dashboard">
                <a href="/courses/create">
                    <button class="header-item ">Thêm sản phẩm</button>
                </a>
                <a href="/me/stored/courses">
                    <button class="header-item   ">Quản lý sản phẩm</button>
                </a>
                <a href="">
                    <button class="header-item">Tổng quan</button>
                </a>
            </div>

            <div class="header-right">
                <input type="text" class="header-input" placeholder="PRODUCT">
                <ion-icon name="search" class="header-icon2"></ion-icon>
            </div>
            <a href="/user/signup ">
                <div class="header-user signup">
                    <ion-icon class="header-user-icon" name="person"></ion-icon>
                    <span class="header-user-name">Sign Up</span>
                </div>
            </a>
            <a href="/user/signin">
                <div class="header-user signin">
                    <ion-icon class="header-user-icon" name="person"></ion-icon>
                    <span class="header-user-name">Sign In</span>
                </div>
            </a>
            <ion-icon name="cart" class="header-cart"></ion-icon>
        </header>
    </div>
</div>